@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.home-principal {
    background-color: #0894DD;
    width: 100vw;
    height: 100vh;

    #home-Circulos {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
    }

    #home-Circulos_Amarrillo {
        width: 100px;
        height: 100px;
        background-color: #f7ff00;
        border-radius: 50%;
        position: absolute;
        left: 65%;
        top: 80%;
        z-index: 2;

    }

    #home-Circulos_Azul {
        width: 150px;
        height: 150px;
        background-color: #4440f5;
        border-radius: 50%;
        position: absolute;
        left: 15%;
        top: 5%;
        z-index: 1;
    }

    #home-Circulos_Amarrillo-2 {
        width: 150px;
        height: 150px;
        background-color: #f7ff00;
        border-radius: 50%;
        position: absolute;
        left: 80%;
        top: 35%;
    }

    #main-home {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #home-titulo {
        position: relative;
        color: #FFFFFF;
        p {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
    }

    #home-opciones {
        display: flex;
        gap: 40px;
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .cartas {
            width: 300px;
            height: 200px;
            margin-top: 5px;
            background-color: #e6ecff;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;

            .cartas-icono{
                font-size: 50px;
            }

            #cartas-descripcion {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }



            #cartas-boton {
                margin-top: 10px;
                width: 280px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #0033cc;
                color: #ffffff;
                font-size: larger;
                border-radius: 10px;
                text-decoration: none;
            }

            #cartas-boton:hover {
                cursor: pointer;
            }
        }


        .cartas:hover {
            transform: scale(1.1);
        }


    }
}

@media screen and (max-width: 735px) {

    .home-principal{
        height: 125vh;
        #main-home {
            display: flex;
            justify-content: start;

            #home-titulo {
                width: 100vw;
                height: 25vh; 
                h1 {
                    text-align: center;
                    margin-top: 40px;
                }
                p{
                    text-align: center;
                }
            }
            #home-opciones {
                margin-top: 40px;
                .cartas {
                    width: 250px;
                    height: 200px;
                    margin-top: 5px;
                    #cartas-boton {
                        margin-top: 10px;
                        width: 200px;
                        height: 45px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        #home-Circulos_Amarrillo {
            display: none;
        }
        #home-Circulos_Azul {
            display: none;
        }
    
        #home-Circulos_Amarrillo-2 {
            display: none;
        }
    }
}

@media screen and (max-width: 410px) {
    .home-principal{
        height: 125vh;
        #main-home {
            #home-titulo {
                p{
                    display: none;
                }
            } 
            #home-opciones{
                margin-top: 60;
            }   
        }
    }
}